/* ==========================================================================
   RIGHT SIDEBAR 
   ========================================================================== */

.right-sidebar {
  width: 20rem; 
  padding: 1.5rem; 
  display: none; 
  flex-direction: column;
  border-radius: 0.5rem; 
}

.right-sidebar > * + * {
    margin-top: 2rem; 
}

@media (min-width: 1024px) {
  .right-sidebar {
    display: flex;
  }
}

.sidebar-section-title {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1rem; 
}

.loading-text {
  color: #9ca3af; 
}

.popular-skaters-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem; 
}

.skater-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.skater-link > * + * {
    margin-top: 0.5rem; 
}

.skater-avatar {
  height: 4rem; 
  width: 4rem; 
  background-color: var(--dark-card);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.125rem; 
  color: #ffffff;
  transition: all 0.2s;
  border: 2px solid white;
}

.skater-link:hover .skater-avatar {
  border: 4px solid white; 
}

.skater-name {
  font-size: 0.875rem; 
  color: #cbd5e1; 
  transition: color 0.2s;
}

.skater-link:hover .skater-name {
  color: #ffffff;
}

.popular-posts-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem; 
}

.popular-post-item {
}

.popular-post-link {
  color: #cbd5e1; 
  text-decoration: none;
  transition: color 0.2s;
  display: block; 
  font-weight: 500;
  word-break: break-word; 
}

.popular-post-link:hover {
  color: #ffffff;
  font-weight: 700;;
}

.popular-post-stats {
  display: flex;
  align-items: center;
  margin-top: 0.25rem; 
  font-size: 0.75rem; 
  color: #9ca3af; 
  gap: 1rem; 
}

.post-stat {
  display: flex;
  align-items: center;
  gap: 0.25rem; 
}

.post-stat-icon {
  height: 0.875rem; 
  width: 0.875rem; 
}