@import url('@/styles/header.css');
@import url('@/styles/comment-form.css');
@import url('@/styles/left-sidebar.css');
@import url('@/styles/right-sidebar.css');
@import url('@/styles/modal.css');
@import url('@/styles/common-component.css');
@import "tailwindcss";


/* ==========================================================================
   BIẾN VÀ CÀI ĐẶT CƠ BẢN (VARIABLES & BASE SETUP)
   ========================================================================== */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-dark-card: var(--darkcard);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --blackbg: #111827;    
    --darknav: #1f2937;   
    --darkcard: #262729;  
    /*--accent: #4f46e5;*/
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

h1 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #ffffff;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3rem; /* 48px */
    line-height: 1;
  }
}

h2 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 700;
  color: #ffffff;
}

h3 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 700;
  color: #ffffff;
}

p,
span,
div {
  color: #cbd5e1; /* slate-300 */
}

a {
  color: var(--accent);
  text-decoration-line: none;
}
a:hover {
  text-decoration-line: underline;
}


